*{
    margin: 0;
    padding: 0;
    /*border: solid 1px red;*/
    box-sizing: border-box
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #18243F;
}
@font-face {
    font-family: 'Audiowide-Regular' ;
    src: url(./../Audiowide-Regular.ttf);
}
  header {
    background-color: #131D34;
    color: white;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
  
  header nav h1 {
    font-size: x-large;
    text-decoration: none;
    color: white;
    padding: 20px;
    font-family: 'Audiowide-Regular';   
  }

  

  header a h1 {
    color: white;
    font-family: 'Audiowide-Regular';
  }
  header a{
    text-decoration: none;
  }
  header #font i {
    padding: 10px;
    position: relative; 
    display: inline-block;
    color: white;
  }

#intro p, #intro h2, #intro a, #image img {
    animation: grow 1s;
}
  
@keyframes grow {
    0% { transform: scale(.2); }
    100% { transform: scale(1); }
}
#intro {
  
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
    transition: all .8s ease;
    animation: expand .8s ease forwards;
    height: 100vh;
}

#intro #text {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 15px;

}

#intro #text h2 {
    color: #CD1E5E;
    font-family: 'Audiowide-Regular';
   
}
#intro #text p {
    font-size: large;
    text-align: justify ;
    color: white;
    
}
#text #bouton a {
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: 'Audiowide-Regular';
    font-size:large;
    
}
#text #bouton{
    border-radius: 10px;
    border: solid 1px #CD1E5E;
    background-color: #CD1E5E;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    width: 300px;
    
}

#intro #image {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18243F;
    border-radius: 30px;
    
}

#intro #image img {
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}


#cour{
    background: #131D34;
    padding-left: 10px;
    padding-top: 40px;
    border-radius: 20px;
    border-top: solid 7px #CD1E5E;
    border-bottom: solid 7px #CD1E5E;
}

.title {
    text-align: center;
    font-family: 'Audiowide-Regular';
    color: #CD1E5E;
}
.table{
    display: flex;
    justify-content: center;
    height: 100%;
    padding-bottom: 20px;
}

.table > *  {
    margin: auto;
}

.table table {
    width: 50%;
    margin: 0 5%;
    text-align: left;
  }
  th, td {
    padding: 15px;
    color: #CD1E5E;
  }
td a {
    color: #CD1E5E;
}

thead tr th {
    font-size: large;
    font-family: 'Audiowide-Regular';
}
.table tbody tr {
    /* 1. Animate the background-color
       from transparent to white on hover */
    opacity: 0.4;
    transition: all 0.6s cubic-bezier(.48,-0.25,.35,1.73);
    
    /* 2. Animate the opacity on hover */
  }
.table tbody tr:hover {
    background-color: #18243F;
    opacity: 1;
    transform: scale(1.2);
}
.table tbody .trTp:hover {
    background-color: #131D34;
}  
td {
    /* 3. Scale the text using transform on hover */
    transition: transform 0.6s cubic-bezier(.48,-0.25,.35,1.73);
}
.table tbody th:hover, #table tbody td:hover {
    transform: scale(0.8);
}
#tp {
    background: #18243F;
    color: rgba(95, 17, 232, 1);
    padding-left: 10px;
    padding-top: 40px;
    
}
footer {
    bottom: 0;
    background-color: #333;
    padding: 20px;
    text-align: center;

}

footer a{
    text-decoration: none;
    color: grey;
    margin: 10px
}
footer a:hover{
    color: white;
    text-decoration: underline;
    transition: 0.5sS;
}


  

  